
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">

            <!-- Size Start -->
            <div class="mb-5">
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                     <h5 class="font-weight-semi-bold mb-4">Settings</h5>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <a href="/Dashboard/Index/" class="text-dark">Profile</a>
                </div>

                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3" >
                    <a href="/Dashboard/Adresses" class="text-dark" >Adresses</a>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <a href="" class="text-dark">My Products</a>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <a href="" class="text-dark">Cards</a>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <a href="" class="text-dark">Security</a>
                </div>
                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                    <a href="" class="text-dark">Log Out</a>
                </div>

            </div>
            <!-- Size End -->
        </div>
        <!-- Shop Sidebar End -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">

                <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="/img/product-1.jpg" alt="Person img">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3"> Name Surname</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-5">
                        <h5>Email</h5>
                        <p class="mb-4">example@gmail.com</p>
                        <h5>Phone Number</h5>
                        <p class="mb-4">0326174123421</p>
                        <h5>Gender</h5>
                        <p class="mb-4">Men</p>
                    </div>
                </div>



            </div>
        </div>

