@model ShopListAppNKatmanli.Models.UserViewModel


@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="center">
    <section class="container" style="">
        <header>Login Form</header>
        <form class="form" method="post">
            <div class="input-box">
                <label>Name</label>
                <input type="text" placeholder="Enter your Email" name="Email" required />
            </div>

            <div class="input-box">
                <label>Surname</label>
                <input type="text" placeholder="Enter your Password" name="Password" required />
            </div>

            <button type="submit">Submit</button>
        </form>

    </section>

</div>
