@model ShopListAppNKatmanli.Models.UserViewModel


@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">Register</h4>
                <form class="form" method="post">
                <div class="row">

                    <div class="col-md-6 form-group">
                        <label>First Name</label>
                        <input class="form-control" type="text" placeholder="John" name="Name" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Last Name</label>
                        <input class="form-control" type="text" placeholder="Doe" name="Surname" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>E-mail</label>
                        <input class="form-control" type="text" placeholder="example@email.com" name="Email" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Mobile No</label>
                        <input class="form-control" type="text" placeholder="+123 456 789" name="PhoneNumber" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Username</label>
                        <input class="form-control" type="text" placeholder="Your username" name="UserName" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" placeholder="Your password" name="Password" required>
                    </div>

                    <div class="col-md-6 form-group">
                        <label>Birth date</label>
                        <input class="form-control" type="date" name="BirthDate" required>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Gender</label>
                        <div class="gender-option">
                            <div class="gender">
                                <input type="radio" id="check-male" name="Gender" checked />
                                <label for="check-male">male</label>
                            </div>
                            <div class="gender">
                                <input type="radio" id="check-female" name="Gender" />
                                <label for="check-female">Female</label>
                            </div>
                        </div>

                        <div class="card-footer border-secondary bg-transparent">
                            <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Create account</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>

        </div>
    </div>
